*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    display: grid;
    height: 100%;
    background: black; 
    text-align: center;
    place-items: center;
}
.homebtn{
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 7px 10px;
    margin-left: -35px;
}
.homebtn:hover{
    background: #1b1b1b;
}
/* otline container */
.container{
    position: relative;
    width: 400px;
    background: #111;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* .post is block that contain thanks for rate .text and .edit btn bydefault it is hidden */
.container .post{
    display: none;
}
.container .text{
    font-size: 25px;
    color: #666;
    font-weight: 500;
}
.container .edit{
    font-size: 16px;
    color: #666;
    font-weight: 500;
    position: absolute;
    right: 10px;
    top: 5px;
}
.container .edit:hover{
    text-decoration: underline;
    cursor: pointer;
}
/* hide radio buttons */
 .star-widget input{
    display: none;
} 
.star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
}
/* code to get golden color on hover */

/* an unchecked checkbox can be selected by using negation pseudo class i.e :not(:checked),
~ sign select all elements that are next sibling of input element */

/* this code only select next sibling of input i.e when hover on 1 star only 1 gets color
input:not(:checked)~label:hover{ 
    color: #fd4; 
}  */

/* this code select next sibling with other smaller siblings  */


input:not(:checked)~label:hover,    /* input chya sibling lable var hover kelyanantar fakt tya label cha color golden aani*/
input:not(:checked)~label:hover ~ label{    /* input chya sibling lable var hover kelyanantar tya label cha aani tya aadhichya labelcha color golden */
    color: #fd4; 
}   

input:checked ~ label{
    color: #fd4;
} 
/* to get sparkle border for stars when click on 5 rattings */
input#rate-5:checked ~ label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
}
/* when rate-1 i.e checkbox1 is checked then add content to its sibling(~) i.e form header  */
#rate-1:checked ~ form header:before{   /* :before selector allows o to add content before selected element*/
    content: "I just hate it";
}
#rate-2:checked ~ form header:before{
    content: "I don't like it";
}
#rate-3:checked ~ form header:before{
    content: "It is awesome";
}
#rate-4:checked ~ form header:before{
    content: "I just like it";
}
#rate-5:checked ~ form header:before{
    content: "I just loved it";
} 
/* to display form when input is checked */
.container form{
    display: none;
}
input:checked ~ form{
    display: block;
}
form header{
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}
.textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
}
textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1pxx solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
}
.btn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
}
button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover{
    background: #1b1b1b;
}