  @media (max-width:1187px){
    .toggle-button{
        display: flex;
        right: 50px; 
    }
    .navbar-links{
        display: none; 
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }  
    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }
    .navbar-links li{
        text-align: center;
    }
    .navbar-links li a{
        padding: 10px 0;
    }
    .navbar-links.active{
        display: flex;
        height: 395px;
    } 
    .to-top{
        margin-left: -25px;
    }
}
 
@media (max-width:572px){
    .toggle-button{
        left: 930px;
    }
    .navbar{
        width: 1000px;
    }
    .head{
        width: 1000px;
    }
    .w3-foot{
        width: 1000px;
    }
    .main{
        width: 1000px;
    }
    .to-top{
        margin-left: 424px;
    }
    body{
        font-size: 30px;
    }
}
@media (max-width:416px){
    .to-top{
        margin-left: 555px;
    }
}
@media (max-width:336px){
    .to-top{
         margin-left: 630px; 
    }
}
@media (max-width:260px){
    .to-top{
        margin-left: 467px;
   }
    .toggle-button{
        left: 600px;
    }
    .head{
        width: 600px;
    }
    .w3-foot{
        width: 600px;
    }
    .main{
        width: 600px;
    }
    body{
        font-size: 20px;
    };
}   
@media (max-width:140px){
    .head{
        width: 525px;
    }
    .w3-foot{
       width: 525px;
   }
   .toggle-button{
       left: 474px;
   }
} 
